<!-- =========================
CTA section
===========================-->
<section
  class="pb-14 pt-14 md:pb-16 md:pt-16 lg:pb-[88px] lg:pt-[88px] xl:pb-[112px] xl:pt-[100px] border-t border-stroke-4 dark:border-stroke-6 dark:bg-background-5"
>
  <div class="main-container">
    <div class="text-center max-w-[649px] mx-auto">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan mb-5"> Let's start</span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3">Ready to dominate your market?</h2>
      <p data-ns-animate data-delay="0.3" class="mb-6">
        Book a free strategy consultation and let's map out your AI-powered digital growth roadmap — no commitments, just clarity.
      </p>

      <div data-ns-animate data-delay="0.4" class="flex justify-center">
        <a
          href="./digital-marketing-contact.html"
          class="btn btn-secondary hover:btn-white btn-md dark:btn-accent dark:hover:btn-white-dark"
        >
          <span>Book your free consultation</span>
        </a>
      </div>
    </div>
  </div>
</section>
