<!-- =========================
CTA section
===========================-->
<section
  class="border-stroke-4 dark:border-stroke-6 dark:bg-background-5 border-t pt-14 pb-14 md:pt-16 md:pb-16 lg:pt-[88px] lg:pb-[88px] xl:pt-[100px] xl:pb-[112px]"
>
  <div class="main-container">
    <div class="mx-auto max-w-[649px] text-center">
      <span data-ns-animate data-delay="0.1" class="badge badge-cyan mb-5"> Let's start</span>
      <h2 data-ns-animate data-delay="0.2" class="mb-3">Ready to dominate your market?</h2>
      <p data-ns-animate data-delay="0.3" class="mb-6">
        Book a free strategy consultation and let's map out your AI-powered digital growth roadmap —
        no commitments, just clarity.
      </p>

      <!-- <div data-ns-animate data-delay="0.4" class="flex justify-center">
        <a
          href="./digital-marketing-contact.html"
          class="btn btn-secondary hover:btn-white btn-md dark:btn-accent dark:hover:btn-white-dark"
        >
          <span>Start your project</span>
        </a>
      </div> -->

      <div data-ns-animate data-delay="0.7" class="mt-7 flex justify-center md:mt-14">
        <a
          href="./digital-marketing-contact.html"
          class="btn btn-secondary hover:btn-white dark:hover:btn-accent dark:btn-transparent btn-md"
        >
          <span>Start your project</span>
        </a>
      </div>
    </div>
  </div>
</section>
