<!-- =========================
Mobile Menu
===========================-->

<aside
  class="sidebar dark:bg-background-8 scroll-bar fixed top-0 right-0 z-[9999] h-screen w-full translate-x-full rounded-l-3xl bg-white transition-all duration-300 sm:w-1/2 xl:hidden"
>
  <div class="space-y-4 p-5 sm:p-8 lg:p-9">
    <div class="flex items-center justify-between">
      <a href="./digital-marketing.html">
        <span class="sr-only">Home</span>
        <figure class="max-w-[44px]">
          <img src="./images/shared/logo.svg" alt="OrianWave" class="block w-full dark:hidden" />
          <img
            src="./images/shared/logo-dark.svg"
            alt="OrianWave"
            class="hidden w-full dark:block"
          />
        </figure>
      </a>
      <button
        class="nav-hamburger-close bg-background-4 dark:bg-background-9 relative flex size-10 cursor-pointer flex-col items-center justify-center gap-1.5 rounded-full"
      >
        <span class="sr-only">Close Menu</span>
        <span class="bg-stroke-9/60 dark:bg-stroke-1 absolute block h-0.5 w-4 rotate-45"></span>
        <span class="bg-stroke-9/60 dark:bg-stroke-1 absolute block h-0.5 w-4 -rotate-45"></span>
      </button>
    </div>
    <div class="scroll-bar mt-6 h-[85vh] w-full overflow-x-hidden overflow-y-auto pb-10">
      <p
        class="text-secondary dark:text-accent text-tagline-1 before:bg-stroke-4 dark:before:bg-stroke-6 relative mb-2 block font-normal before:absolute before:top-1/2 before:-right-16 before:h-px before:w-full before:-translate-y-1/2 before:content-['']"
      >
        Menu
      </p>
      <ul class="space-y-2">
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex w-full cursor-pointer items-center justify-between py-2.5"
            data-menu="company"
          >
            <span class="text-secondary/60 dark:text-accent/60 text-tagline-1 block font-normal"
              >Services</span
            >

            <span class="menu-arrow rotate-90 transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu block" data-submenu="company">
            <li>
              <a
                href="./digital-marketing-web-development.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Web Development</a
              >
            </li>
            <li>
              <a
                href="./digital-marketing-custom-software.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Custom Software</a
              >
            </li>
            <li>
              <a
                href="./digital-marketing-services.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Digital Marketing</a
              >
            </li>
            <li>
              <a
                href="./digital-marketing-ai-optimization.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >SEO &amp; AI Optimization</a
              >
            </li>
            <li>
              <a
                href="./digital-marketing-ecommerce-solutions.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Branding &amp; SaaS Platforms</a
              >
            </li>
          </ul>
        </li>

        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex w-full cursor-pointer items-center justify-between py-2.5"
            data-menu="resources"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 text-tagline-1 relative block font-normal"
              >Resources</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="resources">
            <li>
              <a
                href="./digital-marketing-faq.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >FAQ</a
              >
            </li>

            <li>
              <a
                href="./digital-marketing-privacy-policy.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Privacy Policy</a
              >
            </li>
            <li>
              <a
                href="./digital-marketing-terms-conditions.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Terms &amp; Conditions</a
              >
            </li>
          </ul>
        </li>
        <li class="space-y-2">
          <button
            class="mobile-menu-toggle flex w-full cursor-pointer items-center justify-between py-2.5"
            data-menu="people-culture"
          >
            <span
              class="text-secondary/60 dark:text-accent/60 text-tagline-1 relative block font-normal"
              >About Us</span
            >

            <span class="menu-arrow transition-transform duration-300">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M10 12L14 8L10 4"
                  class="stroke-secondary/60 dark:stroke-accent/60"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </button>
          <ul class="mobile-submenu hidden" data-submenu="people-culture">
            <li>
              <a
                href="./digital-marketing-about.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >About Us</a
              >
            </li>

            <li>
              <a
                href="./digital-marketing-customer.html"
                class="text-tagline-1 text-secondary dark:text-accent ml-4 block py-2.5 text-left font-normal transition-all duration-200"
                >Portfolio</a
              >
            </li>
          </ul>
        </li>
        <li class="pt-4">
          <a
            href="./digital-marketing-contact.html"
            class="btn btn-md btn-secondary hover:btn-white dark:hover:btn-white-dark dark:btn-accent w-full text-center"
          >
            Contact Us
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
