<!-- <div>
  <div
    class="dropdown-menu-bridge absolute left-1/2 -translate-x-1/2 top-full w-full h-3 z-40 min-w-[340px] pointer-events-none bg-transparent opacity-0"
  ></div>

  <ul
    id="partnership-dropdown-menu"
    class="dropdown-menu mt-2 w-[340px] rounded-[20px] p-2 bg-white dark:bg-background-6 shadow-14 absolute left-1/2 -translate-x-1/2 top-full z-50 pointer-events-none transition-all duration-300 opacity-0 border border-stroke-1 dark:border-background-7"
  >
    <li>
      <a
        href="./digital-marketing-textile.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Textile Industry</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Digital solutions for textile businesses
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-pharmaceutical.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Pharmaceutical</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Tech solutions for pharma companies
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-travel.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Travel Companies</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Boost bookings and customer experience
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-logistics.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Logistics Companies</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Streamline operations and supply chain
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-ecommerce-industry.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/service-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">E-Commerce & Commerce</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            General e-commerce and retail solutions
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-partners.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/affiliate-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Partners</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Become a partner with AlgoLabs
          </p>
        </div>
      </a>
    </li>
    <li>
      <a
        href="./digital-marketing-download.html"
        class="p-3 rounded-2xl flex items-start gap-3 transition-all duration-300 relative group"
      >
        <Component src="src/components/shared/hover-bg-transform.htm" />
        <div
          class="size-11 p-3 rounded-[10px] bg-white dark:bg-background-6 relative z-10 shadow-14 border border-stroke-1 dark:border-background-7 flex items-center justify-center"
        >
          <Component src="src/components/shared/menu-icon/dawnload-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 font-normal text-secondary dark:text-accent">Download</p>
          <p class="text-tagline-2 font-normal text-secondary/60 dark:text-accent/60">
            Brand guidelines and documents
          </p>
        </div>
      </a>
    </li>
  </ul>
</div> -->
