<div
  id="resources-mega-menu"
  class="dropdown-menu fixed left-1/2 -translate-x-1/2 top-full mt-2 pointer-events-none transition-all duration-300 opacity-0 md:w-[780px] w-full bg-white dark:bg-background-6 z-50 rounded-[20px] p-4 border border-stroke-1 dark:border-background-7 flex items-start md:gap-x-4 gap-y-6"
>
  
  <!-- Column 1 -->
  <ul class="space-y-2 w-1/2">
    <p class="px-3 pt-2 pb-1 text-tagline-3 font-medium text-secondary/40 dark:text-accent/40 uppercase tracking-wide">
      Help & Documentation
    </p>

    <li>
      <a href="./digital-marketing-faq.html" class="p-3 rounded-[10px] flex items-start gap-3 relative group">
        
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/faq-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent">FAQ</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60">
            Frequently asked questions and answers.
          </p>
        </div>
      </a>
    </li>

    <li>
      <a href="./digital-marketing-support.html" class="p-3 rounded-[10px] flex items-start gap-3 relative group">
        
        <div class="mt-1 relative z-10">
          <Component src="src/components/shared/menu-icon/support-icon.htm" />
        </div>
        <div class="relative z-10">
          <p class="text-tagline-1 text-secondary dark:text-accent">Support</p>
          <p class="text-tagline-3 text-secondary/60 dark:text-accent/60">
            Get help and support from our team.
          </p>
        </div>
      </a>
    </li>
  </ul>

  <!-- Divider -->
  <div class="w-px self-stretch bg-stroke-1 dark:bg-background-7 hidden md:block"></div>

  <!-- Column 2 -->
  <ul class="space-y-2 w-1/2">
    <div class="bg-background-2 dark:bg-background-7 rounded-[10px] px-3 pb-3">
      <p class="px-3 pt-2 pb-1 text-tagline-3 font-medium text-secondary/40 dark:text-accent/40 uppercase tracking-wide">
        Trust & Compliance
      </p>

      <li>
        <a href="./digital-marketing-privacy-policy.html" class="p-3 rounded-[10px] flex items-center gap-3 relative group">
         
          <div class="mt-1 relative z-10">
            <Component src="src/components/shared/menu-icon/privacy-icon.htm" />
          </div>
          <p class="text-tagline-1 text-secondary dark:text-accent">
            Privacy Policy
          </p>
        </a>
      </li>

      <li>
        <a href="./digital-marketing-terms-conditions.html" class="p-3 rounded-[10px] flex items-center gap-3 relative group">
          
          <div class="mt-1 relative z-10">
            <Component src="src/components/shared/menu-icon/refund-icon.htm" />
          </div>
          <p class="text-tagline-1 text-secondary dark:text-accent">
            Terms & Conditions
          </p>
        </a>
      </li>
    </div>
  </ul>

</div>