<!-- =========================
Steps section
===========================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] -mt-[160px] sm:-mt-0"
  aria-label="Our Process Steps"
>
  <div class="main-container">
    <div class="space-y-14">
      <div
        data-ns-animate
        data-delay="0.1"
        class="flex items-start xl:items-center flex-col md:flex-row gap-8"
      >
        <!-- step one  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 1">
          <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>

          <p class="text-tagline-2 text-primary-500">01</p>

          <div class="space-y-2">
            <h2 class="text-heading-5">Plan & Strategy.</h2>
            <p>
              We understand your business goals, audience, and challenges to create a clear digital strategy that guides every step.
            </p>
          </div>
        </div>

        <!-- step two  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 2">
          <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>

          <p class="text-tagline-2 text-primary-500">02</p>

          <div class="space-y-2">
            <h2 class="text-heading-5">Design & Develop.</h2>
            <p>
              We design and build your website, software, or campaign with modern technologies ensuring performance, usability, and scalability.
            </p>
          </div>
        </div>

        <!-- step three  -->
        <div class="space-y-3 max-w-[388px] md:w-full" role="region" aria-label="Step 3">
          <div class="w-full bg-stroke-2 dark:bg-stroke-6 h-1 rounded-full relative overflow-hidden">
            <div class="progress-line w-[0%] bg-ns-green rounded-full h-full absolute left-0"></div>
          </div>

          <p class="text-tagline-2 text-primary-500">03</p>

          <div class="space-y-2">
            <h2 class="text-heading-5">Launch & Grow.</h2>
            <p>
              We launch your solution and continuously optimize performance using data-driven insights to help your business scale and grow.
            </p>
          </div>
        </div>
      </div>

      <!-- button removed -->
      
    </div>
  </div>
</section>